* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100vh;
  flex-direction: column;
  gap: 30vh;
}
.container {
  background: black;
  padding: 5px;
  width: 400px;
  height: 400px;
}
.clip-me {
  width: 400px;
  height: 400px;
}
.t1 {
  background: olive;
  clip-path: inset(70px 0px 70px 00px);
}
.t2 {
  background: darkturquoise;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    75% 100%,
    75% 25%,
    25% 25%,
    25% 75%,
    75% 75%,
    75% 100%,
    0% 100%
  );
}
.t3 {
  background: rgb(255, 255, 180);
  clip-path: polygon(50% 50%, 100% 100%, 0% 100%);
}
.t4 {
  background: rgb(182, 236, 182);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}
.t5 {
  background: rgb(255, 181, 181);
  clip-path: polygon(
    20% 0%,
    50% 30%,
    80% 0%,
    100% 20%,
    70% 50%,
    100% 80%,
    80% 100%,
    50% 70%,
    20% 100%,
    0% 80%,
    30% 50%,
    0% 20%
  );
}
.t6 {
  background: dodgerblue;
  clip-path: circle(350px at 100% 0%);
}
.t7 {
  background: rosybrown;
  clip-path: ellipse(40% 50% at 50% 50%);
}
.t8 {
  background: tomato;
  position: absolute;
  clip: rect(100px, 300px, 300px, 150px);
}
/*
        
  The clip-path property in css allows you to specify a specific region 
  of an element to display , with the rest will be hiddent or clipped 

  Clip-path : inset() , so the clip-path is the property and inset is the 
  function of this property , 
        
       * inset() : this function allows us to clip the element so we specify
       how much we want to clip from the top then right then bottom the left

       * polygone () : beging X axes then Y axes

       NOTE : we fix all prametres based of the default origin as we see in 
       css couse transform origin which is top left 
      
        for well inderstanding this function see the examples then visit
          https://www.cssportal.com/css-clip-path-generator/
  
      * circle () : first you have to enter circle ray then spicify its center

      * ellipse() ; first you have to specify the width then height the center
      
    Clip  property used to clip an element 
       
      * rect() : allows you to specify the point where the side will 
                  start . 
          the reference for top and bottom side is top
          and the refercene for right and left is left
  */
